@charset "UTF-8";
/* Inicio del código con un reset */
* {
  margin: 0px;
  padding: 0px; }

/*Comienzo de clases recicladas*/
.fondo {
  background: url(../recursos/fondo.svg);
  background-size: 150px; }

.botones {
  display: flex;
  transition: 500ms ease;
  padding: 2px;
  font-size: 14px;
  margin: 2px;
  font-family: 'Bakbak One', cursive;
  color: black; }
  .botones:hover {
    transform: scale(1.2); }

.titulos {
  color: black;
  background-color: #ffc107;
  padding: 2px;
  margin: 2px;
  font-family: 'Bakbak One', cursive;
  font-size: 34px;
  border-radius: 3px; }

.textos {
  color: black;
  background-color: #ffc107;
  font-family: 'IBM Plex Sans', sans-serif;
  border-radius: 3px; }

/*Fin de clases recicladas*/
/* Estilo para todos los footer de la página */
footer {
  font-size: 15px;
  color: black;
  font-family: 'Bakbak One', cursive;
  display: flex;
  justify-content: center;
  background-color: #ffc107; }

/* Fin del estilo para el footer. */
/* Inicio index */
.titulos__index {
  color: white;
  background-color: #ffc107;
  padding: 2px;
  margin: 2px;
  font-family: 'Bakbak One', cursive;
  font-size: 34px;
  border-radius: 3px; }

/* Inicio contato. */
.contacto__redes {
  display: flex;
  justify-content: space-around; }
  .contacto__redes .contacto__logosRedes {
    padding: 10px;
    width: 100px;
    height: 100px; }

.contacto__form {
  padding: 5px;
  border: solid 2px white;
  border-radius: 10px;
  background: url(../recursos/fondo.svg);
  background-size: 300px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  color: white; }

/* Fin de contacto*/
/* Inicio sedes */
.sedes__animadas {
  display: flex;
  transition: all 500ms ease;
  border-radius: 5px;
  box-shadow: 1px 10px 15px rgba 0, 0, 0, 0.5; }
  .sedes__animadas:hover {
    transform: scale(1.2); }

/* Fin de sedes */
/*Inicio media query tablet*/
@media (min-width: 541px) and (max-width: 720px) {
  /* Comienzo de clases para textos y titulos */
  .titulos {
    font-size: 1.3rem; }
  .textos {
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif; }
  /* Fin de clases para textos y titulos */ }

/* Fin media query tablet */
/*Inicio media query mobile*/
@media (min-width: 320px) and (max-width: 540px) {
  /* Comienzo de clases para textos y titulos */
  .titulos {
    font-size: 1rem; }
  .textos {
    font-size: 1rem; }
  /* Fin de clases para textos y titulos */
  /*Inicio contacto*/
  .contacto__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px; }
    .contacto__redes .contacto__logosRedes {
      max-width: 320px; }
  /* Fin contacto */ }

/* Fin media query mobile */
